<html>
  <head>
    <link rel="stylesheet" href="/css/application.css"/>
    <script src="/js/d3.v2.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/event/emitter.js"></script>
    <script src="/models/controller.js"></script>
    <script src="/models/model.js"></script>
    <!-- Visualization base components -->
    <script src="/visualizations/donut_base.js?<%= new Date().getTime() %>"></script>
    <script src="/components/bar_chart.js?<%= new Date().getTime() %>"></script>
    <!-- Visualization components -->
    <script src="/components/iostat_donut.js?<%= new Date().getTime() %>"></script>
    <script src="/components/cpu_barchart.js?<%= new Date().getTime() %>"></script>
    <script src="/components/cpu_times_barchart.js?<%= new Date().getTime() %>"></script>
    <script src="/components/disk_io_stats.js?<%= new Date().getTime() %>"></script>    <!-- Must be loaded after emitter -->
    <script src="/connection/connection_handler.js?<%= new Date().getTime() %>"></script>
  </head>
  <body>
    <table width="100%">
      <tr>
        <td valign="top" width="33%">
          <table>
            <tr>
              <td>
                <label>CPU %</label><p/>
                <div id="cpu_percentages" name="cpu_percentages"/>
              </td>
            </tr>
            <tr>
              <td>
                <label>Per CPU time</label><p/>
                <div id="cpu_timers" name="cpu_timers"/>
              </td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <label>IO Counters</label><p/>
          <div id="io_stats" name="io_stats"/>
        </td>
      </tr>
    </table>
    <script src="/application.js?<%= new Date().getTime() %>"></script>
  </body>
</html>
