<html>
  <head>
    <script src="/js/d3.v2.js?<%= new Date().getTime() %>"></script>
    <script src="/js/jquery.js?<%= new Date().getTime() %>"></script>
    <script src="/js/underscore.js?<%= new Date().getTime() %>"></script>
    <script src="/event/emitter.js?<%= new Date().getTime() %>"></script>
    <script src="/models/controller.js?<%= new Date().getTime() %>"></script>
    <script src="/models/model.js?<%= new Date().getTime() %>"></script>
    <!-- Visualization base components -->
    <script src="/visualizations/donut_base.js?<%= new Date().getTime() %>"></script>
    <!-- Visualization components -->
    <script src="/components/iostat_throughput_donut.js?<%= new Date().getTime() %>"></script>
    <!-- Must be loaded after emitter -->
    <script src="/connection/connection_handler.js?<%= new Date().getTime() %>"></script>
  </head>
  <body>
    <table>
      <tr>
        <td><div id="iostate_write_distribution" name="iostate_write_distribution"/></td>
        <td><div id="netstat_input_output_distribution" name="netstat_input_output_distribution"/></td>
      </tr>
    </table>
    <script src="/application.js?<%= new Date().getTime() %>"></script>
  </body>
</html>
