<html>
  <head>
    <link rel="stylesheet" href="/css/application.css"/>
    <script src="/js/d3.v2.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/event/emitter.js"></script>
    <script src="/models/controller.js"></script>
    <script src="/models/model.js"></script>
    <!-- Visualization base components -->
    <script src="/visualizations/donut_base.js?<%= new Date().getTime() %>"></script>
    <script src="/components/bar_chart.js?<%= new Date().getTime() %>"></script>
    <!-- Visualization components -->
    <script src="/components/iostat_throughput_donut.js?<%= new Date().getTime() %>"></script>
    <script src="/components/cpu_barchart.js?<%= new Date().getTime() %>"></script>
    <script src="/components/cpu_times_barchart.js?<%= new Date().getTime() %>"></script>
    <!-- Must be loaded after emitter -->
    <script src="/connection/connection_handler.js?<%= new Date().getTime() %>"></script>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td>
                <label>CPU %</label><p/>
                <div id="cpu_percentages" name="cpu_percentages"/>

              </td>
            </tr>
            <tr>
              <td>
                <label>Per CPU time</label><p/>
                <div id="cpu_timers" name="cpu_timers"/>
              </td>
            </tr>
          </table>
        </td>
        <td><div id="netstat_input_output_distribution" name="netstat_input_output_distribution"/></td>
        <td><div id="iostate_write_distribution" name="iostate_write_distribution"/></td>
      </tr>
    </table>
    <script src="/application.js?<%= new Date().getTime() %>"></script>
  </body>
</html>
